.select {
  position: relative;
  margin: 10px auto;
  padding: 5px;
  width: 200px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  background-color: #0000002b;
  overflow: hidden;
}

.select__header_placeholder {
  margin: 0;
}

.select__body {
  display: flex;
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  padding: 5px 0;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  background-color: #0000002b;
  transition: 500ms ease-in-out;
  opacity: 0;
}

.select__body_item:hover {
  background-color: #00000042;
}

.select__body_input {
  margin: 0;
  padding: 3px;
  border: 0;
  width: 90%;
  font-size: 20px;
  border-radius: 5px;
}

.select__body_item {
  margin: 5px 0;
  border: 0;
  width: 100%;
  font-size: 20px;
  background: transparent;
  cursor: pointer;
}

.select.active {
  overflow: visible;
}

.select.active .select__body{
  transform: translateY(10px);
  opacity: 1;
}